#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  
}

.contenedor {
  max-width: 80%;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem 0;
}
.personaje_contenedor{
  display: flex;
  align-items: center;
  justify-content: center;
  
 
}

